@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<h5>Technologies Used :</h5>
<li>ASP.NET Razor Pages - provides async webpage interaction.</li>
<li>SQL Backend database.</li>
<li>Azure cloud hosting.</li>
