@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    3 Crystal Dr<br />
    Mt Prospect, IL 60056<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Personal:</strong> <a href="mailto:sseakin@gmail.com">sseakin@gmail.com</a><br />
    <strong>Work:</strong> <a href="mailto:sseakin@gmail.com">sam.eakin@yash.com</a>
</address>
